<section class="card">
  <a href="/menuItem/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <div>

        <span for="img" aria-label="money">💲{{price}}</span>
        <p>{{menuItems.price}}</p>


      </div>
      <div>
        <p>{{description}}</p>
      </div>

      <button class="btn-no-style">Add to cart</button>
    </div>
  </a>
</section>
