<section class="card">
    <a href="/menuItem/{{id}}">
        <header>{{name}}</header>
        <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}">
            <div>
                <p>{{description}}</p>
            </div>
               <div>
                <p>{{price}}</p>
            </div>
            <button class="btn-no-style">Add to cart</button>
        </div>
    </a>
</section>