<section class="card">
    <a href="/menuItem/{{id}}">
        <header>{{name}}</header>
        <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}">
            <div>
                <p>{{description}}</p>
            </div>
             <p>
    <span for="img" aria-label="money">💲</span>
    <span class=" ">{{price}}</span>
    <div>
                <p>{{description}}</p>
            </div>

  </p>
            <button class="btn-no-style">Add to cart</button>
        </div>
    </a>
</section>