<section class="card">
  <a class="link" href="/menuItem/{{id}}">
    <header id="item-name">{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <div>

        <span for="img" aria-label="money">💲</span>
        <p id="item-price">{{price}}</p>


      </div>
      <div>
        <p id="item-description">{{description}}</p>
      </div>
  </a>

      <button id="add-to-cart-btn"  class="btn-no-style" onclick="addToCart(this)">Add to cart</button>
</div>
</section>

  <script src="/js/cart.js"></script> 
