{{!-- <section class="">
    <div class="">
        {{#each apetizers as |apetizer|}}
        <h3>{{apetizer.name}}</h3>
        <h3>{{apetizer.price}}</h3>
        <h3>{{apetizer.description}}</h3>
      {{/each}}
    </div>
       <button class="btn-no-style">Add to cart!</button>
</section> --}}
{{!-- 

<section class="">
    <div class="">
        {{#each apetizers as |apetizer|}}
        {{apetizer.name}}
        {{apetizer.price}}
        {{apetizer.description}}
         {{#if hasNuts}}
      <p class="">
        Contains Nuts
      </p>
    {{/if}}
      {{/each}}

 <div class='add-dish-container'>
    <form class=''>
    <input type="checkbox" name='has_nuts' value='true' checked>
  <label for='has_nuts'> has Nuts</label>
      <button type='submit'class="btn-no-style">Add to cart!
      </button>
    </form>
  </div> --}}



<div class='menu-container'>
  <div class='card-header col-md-12 d-flex flex-wrap'>
    <h2>
      Apetizer Menu
    </h2>
  </div>
  {{#each apetizers as |apetizer|}}
  <div class="row">
    <div class='col-sm'>
      <p>
        {{apetizer.id}}.
      {{apetizer.name}}
      </p>
    </div>
 <div class='col-sm'>
      <p>
    
        {{apetizer.description}}
      </p>
    </div>
     <div class='col-sm'>
      <p>
      {{apetizer.price}}
      
      </p>
    </div>
   <div class="col-sm">
    🥜: {{#if dish.has_nuts}} Contains nuts {{else}} No nuts {{/if}}
  </div>
    <button class="btn-no-style">Add to cart</button>
     </div>
  {{/each}}




    {{!-- </div>
       <button class="btn-no-style">Add to cart!</button>
</section>




 <div class='add-dish-container'>
    <h2>
      RSVP with the dish you plan to bring!
    </h2>
    <form class='new-dish-form'>
      <label for='dish_name'>
        Dish Name:
      </label>
      <br />
      <textarea id='dish_name' name='dish_name' rows='2' cols='30'>
        {{dish_name}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='guest_name'>
        Guest Name:
      </label>
      <br />
      <textarea id='guest_name' name='guest_name' rows='2' cols='30'>
        {{guest_name}}
      </textarea>
      <br />
      <br />
      <input type='checkbox' id='has_nuts' name='has_nuts' value='true' />
      <label for='has_nuts'>
        Check box if this dish contains nuts
      </label>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>







<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    {{#if has_nuts}}
      <p class="">
        Contains Nuts
      </p>
    {{/if}}
  </div>
</div> --}}
