<div class='menu-container'>
  <div class='card-header col-md-12 d-flex flex-wrap'>
    <h2>
      Apetizer Menu
    </h2>
  </div>
  {{#each apetizers as |apetizer|}}
  <div class="row">
    <div class='col-sm'>
      <p>
        {{apetizer.id}}.
      {{apetizer.name}}
      </p>
    </div>
 <div class='col-sm'>
      <p>
    
        {{apetizer.description}}
      </p>
    </div>
     <div class='col-sm'>
      <p>
      {{apetizer.price}}
      
      </p>
    </div>
   <div class="col-sm">
       {{#if dish.has_nuts}} Contains nuts {{else}} No nuts {{/if}}
  </div>
    <button class="btn-no-style">Add to cart</button>
     </div>
  {{/each}}