{{#if loggedIn}}
<section class="painting">
  <img src="/images/{{menuItem.filename}}" alt="{{menuItem.description}}">
  <div class="">
    <h3>{{menuItem.name}}</h3>
    <p>{{menuItem.price}}</p>
      <p>{{menuItem.description}}</p>
  </div>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">please login to order</a>
{{/if}}
