<section class="card">
  <a href="/menuItemId/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p> {{price}}</p>
    </div>
  </a>
</section>


<div class="">
  <div class="card-header col-md-12 text-center">
    <h2>
    Current Menu
    </h2>
  </div>
  {{#each menuItems as |menuItem|}}
  <div class="">
    <p>
      {{menuItems.id}}.
      {{menuItems.name}}
    </p>
  </div>

  <div class="col-md-3">
    {{#if menuItems.has_nuts}} Contains nuts {{else}} No nuts {{/if}}
  </div>
  {{/each}}